/* app/globals.css */
/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin {
  scrollbar-width: thin;
}


body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
